flows-IOT.json
[{"id":"166c8d4d.4ab5c3","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"1e35dc0e.5eb434","type":"ibmiot in","z":"166c8d4d.4ab5c3","authentication":"apiKey","apiKey":"9615762a.8ec6b8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"node1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":240,"wires":[["48cfec32.998794","c800334e.9a49f","106259e2.1e5956","b30ea80.2043858","bd8b93b.2faf07","bb6578df.1be5e8"]]},{"id":"48cfec32.998794","type":"debug","z":"166c8d4d.4ab5c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":240,"wires":[]},{"id":"c800334e.9a49f","type":"ui_gauge","z":"166c8d4d.4ab5c3","name":"","group":"3ce87f24.5e6da","order":0,"width":0,"height":0,"gtype":"gage","title":"pressure","label":"units","format":"{{msg.payload.pressure}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":340,"wires":[]},{"id":"106259e2.1e5956","type":"ui_gauge","z":"166c8d4d.4ab5c3","name":"","group":"19371f86.716b2","order":0,"width":0,"height":0,"gtype":"gage","title":"light","label":"units","format":"{{msg.payload.light}}","min":"5","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":420,"wires":[]},{"id":"b30ea80.2043858","type":"ui_gauge","z":"166c8d4d.4ab5c3","name":"","group":"65d34c63.4c7804","order":0,"width":0,"height":0,"gtype":"gage","title":"proximity","label":"units","format":"{{msg.payload.proximity}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":520,"wires":[]},{"id":"bd8b93b.2faf07","type":"ui_gauge","z":"166c8d4d.4ab5c3","name":"","group":"b9df2c5.e84bdd","order":4,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{msg.payload.humidity}}","min":"10","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":600,"wires":[]},{"id":"bb6578df.1be5e8","type":"ui_gauge","z":"166c8d4d.4ab5c3","name":"","group":"b9df2c5.e84bdd","order":5,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{msg.payload.temperature}}","min":"20","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":700,"wires":[]},{"id":"9615762a.8ec6b8","type":"ibmiot","z":"","name":"newAPI","keepalive":"60","serverName":"ppsorv.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"3ce87f24.5e6da","type":"ui_group","z":"","name":"pressure","tab":"6777f6d8.d9e118","order":5,"disp":true,"width":"6","collapse":false},{"id":"19371f86.716b2","type":"ui_group","z":"","name":"light","tab":"6777f6d8.d9e118","order":6,"disp":true,"width":"6","collapse":false},{"id":"65d34c63.4c7804","type":"ui_group","z":"","name":"proximity","tab":"6777f6d8.d9e118","order":7,"disp":true,"width":"6","collapse":false},{"id":"b9df2c5.e84bdd","type":"ui_group","z":"","name":"temperature","tab":"6777f6d8.d9e118","order":1,"disp":true,"width":"6","collapse":false},{"id":"6777f6d8.d9e118","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]